.dark-mode {
  --bg-color: #1E1E1E;
  --aside--bg: #161212;
  --text-color: #FFFFFF;
  --nav-bg: #141218;
  --icon-color: white;
  --para-color: #aaa;
  --border-color: #FFFFFF;
  --card-bg: #36343B;
  --qoute-color: #AAAAAA;
  --swiper-btn: #454545;
  --footer-bg: #111111;
  --testimony-border: #1E1E1E;
  --cate--bg: #fefefe;
  --book-border: #333;
  --earn-bg: #454157;
  --earn-color: #F2F2F2;
  --borrow-bg: #404855;
  --buy-bg: #4A373E;
  --sell-bg: #394944;
  --audio-bg: #514C3F;
  --secure-bg: #454157
}

.light-mode {
  --bg-color: #FFF;
  --text-color: #000000;
  --nav-bg: #FFFFFF;
  --icon-color: #000;
  --para-color: #9f9d9d;
  --aside--bg: #f1eeee;
  --border-color: #000000;
  --card-bg: #EEEEEE;
  --qoute-color: #666666;
  --swiper-btn: #b7b3b3;
  --footer-bg: #1E1E1E;
  --testimony-border: #FFFFFF;
  --cate--bg: #FFFFFF;
  --book-border: #e4d9d9;
  --earn-bg: #F5F3FF;
  --earn-color: #333;
  --buy-bg: #FEF5F8;
  --sell-bg: #EEFAF6;
  --audio-bg: #FEFBF2;
  --secure-bg: #F5F3FF;
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.bd {
  border: 0.2px solid var(--book-border);
  border-radius: 1rem;
}
.earn {
  background-color: var(--earn-bg);
}
.earn-color {
  color: var(--earn-color);
}
.borrow {
  background-color: var(--borrow-bg);
}
.buy {
  background-color: var(--buy-bg);
}
.sell {
  background-color: var(--sell-bg);
}
.secure {
  background-color: var(--secure-bg);
}
.audio {
  background-color: var(--audio-bg);
}
.splide {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.splide__track {
  width: 110%;
}

.icon {
  color: var(--icon-color);
}

.para {
  color: var(--para-color);
}

.header {
  background-color: var(--nav-bg);
}

.box-sha{
  box-shadow: rgba(10, 10, 10, 0.15) 2.4px 2.4px 3.2px;
}

.card {
  border-color: var(--border-color);
  background-color: var(--card-bg);
}

.tbd {
  border: 2px solid var(--border-color);
}

.testimony {
  border: 3.66px solid var(--testimony-border);
}

.cl-rootBox  {
  margin-bottom: 0 !important;
}
.cl-rootBox  {
  margin-top: 0 !important;
}

.cl-card {
  margin-top: 0;
}

.flicking-camera {
  border: 1px solid yellow !important;
  width: 100% !important;
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  transform: translate(150px) !important;
}
.splide__slide {
  width: 8.07022rem !important;
} 

.qoute {
  color: var(--qoute-color);
}
.aside {
  background-color: var(--aside--bg);
}

.footer {
  background-color: var(--footer-bg);
}

.poppins {
  font-family: "Poppins", sans-serif;
}
.outfit {
  font-family: 'Outfit', sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.social {
  color: #FFFFFF !important;
}
.foot {
  font-size: 1.125rem !important;
}
.text-style {
  font-style: normal;
}

.box {
  box-shadow: 1.4638069868087769px 2.9276139736175537px 2.9276139736175537px 0px rgba(0, 0, 0, 0.25);
}

.wrapper {
  width: 96%;
}

.test {
  width: 20% !important;
}

.btn {
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.book {
  transition: transform 0.3s ease-in-out;
  background-color: var(--cate--bg);
}

.book:hover {
  transform: scale(1.1);
}

.cl-rootBox {
  margin-top: 30%;
}

.swiper-scrollbar-drag, .swiper-scrollbar {
  display: none !important;
}


.swiper-button-next,
.swiper-button-prev {
  display: none !important;
  background-color: var(--swiper-btn);
  color: var(--text-color) !important;
  font-weight: 800;
  width: 2.5rem !important;
  height: 3.5rem !important;
  text-align: center;
  padding-top: 7px;
}

.balance {
  text-wrap: balance;
}

.under {
  display: inline-block;
  position: relative;
}

.under::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.7px;
  bottom: 0;
  left: 0;
  background-color: #0f9d58;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.under:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.underscore {
  position: relative;
  padding-bottom: 5px;
}

.react-loading-skeleton {
  width: 100% !important;
  height: 100% !important;
}

.fit {
  height: 100% !important;
}

.ske {
  height: 1.1rem !important;
  width: 40% !important;
}
.ske2 {
  height: 1.1rem !important;
  width: 70% !important;
}
.ske3 {
  height: 1.1rem !important;
  width: 70% !important;
}
@media (min-width: 768px) {
  .md\:h-\[3rem\] {
      height: 1.2rem /* 48px */ !important;
  }
  .splide__slide {
    width: 14.3125rem !important;
  } 
}

.underscore::after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 3px solid #DAA520;
  height: 10%;
  left: 0;
  bottom: 0;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #212327;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f9d58;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: 92%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block !important;
    
  }
}