/* Example CSS */
.mobile-menu-icon {
    @apply ml-2 cursor-pointer; /* Apply Tailwind classes for margin and cursor */
  }
  
  /* Rest of your Tailwind classes */
  .poppins {
    font-family: 'Poppins', sans-serif;
  }

  .roboto {
    font-family:'Roboto', sans-serif;
    font-weight: 400;
  }
  
  .wrapper {
    width: 96%;
  }


  .under {
    display: inline-block;
    position: relative;
  }
  
  .under::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.7px;
    bottom: 0;
    left: 0;
    background-color: #0f9d58;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .under:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }

  @media screen and (min-width: 1024px) {
    .wrapper {
      width: 92%;
    }
  }

 /* Header2.css */
.blur-active .content-wrapper {
  filter: blur(5px); /* Adjust the blur intensity as needed */
  pointer-events: none; /* Prevent interaction with blurred content */
}
